<launch>
    <node pkg="test" type="OLED_Show.py" name="OLED_Show" output="screen" /> 
    <node pkg="test" type="key_node.py" name="key_node" output="screen" /> 
    <node pkg="test" type="Send_Arm.py" name="Send_Arm"  output="screen"/> 

    <node pkg="test" type="arm" name="arm" output="screen" /> 

    <node pkg="test" type="sch" name="sch" output="screen" /> 

    <node pkg="test" type="send" name="send"/> 



</launch>