<launch>

<node pkg="hector_imu_attitude_to_tf" type="imu_attitude_to_tf_node" name="imu_attitude_to_tf_node" output="screen">
  <remap from="imu_topic" to="imu_fc" />
  <param name="base_stabilized_frame" type="string" value="base_stabilized" />
  <param name="base_frame" type="string" value="base_link" />
</node>

<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
<!-- Frame names -->
<param name="pub_map_odom_transform" value="true"/>
<param name="map_frame" value="map" />
<param name="base_frame" value="base_stabilized" />
<param name="odom_frame" value="base_stabilized" />


<!-- Tf use -->
<param name="use_tf_scan_transformation" value="true"/>
<param name="use_tf_pose_start_estimate" value="false"/>


<!-- Map size / start point -->
<param name="map_resolution" value="0.05"/>
<param name="map_size" value="2048"/>
<param name="map_start_x" value="0.5"/>
<param name="map_start_y" value="0.5" />
<param name="laser_z_min_value" value = "-1.0" />
<param name="laser_z_max_value" value = "1.0" />
<param name="map_multi_res_levels" value="2" />


<param name="map_pub_period" value="1" />
<param name="laser_min_dist" value="0.25" />
<param name="laser_max_dist" value="11.5" />
<param name="output_timing" value="false" />
<param name="pub_map_scanmatch_transform" value="true" />
<!--<param name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame" />-->


<!-- Map update parameters -->
<param name="update_factor_free" value="0.4"/>
<param name="update_factor_occupied" value="0.7" />    
<param name="map_update_distance_thresh" value="0.05"/>
<param name="map_update_angle_thresh" value="0.001" />


<!-- Advertising config --> 
<param name="advertise_map_service" value="true"/>
<param name="scan_subscriber_queue_size" value="5"/>
<param name="scan_topic" value="scan"/>
</node>


<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0.1 -1.5707963 0 0 /base_link /laser_link 50"/>
<!--node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0.1 -1.5707963 0 0 /base_stabilized /laser_link 50"/-->
<node pkg="tf" type="static_transform_publisher" name="map_to_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 50"/>

<node pkg="rviz" type="rviz" name="rviz"
  args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>


<node name="lsn10" pkg="lsn10" type="lsn10" output="screen" >
    <param name="scan_topic" value="scan"/> <!--设置激光数据topic名称-->
    <param name="serial_port" value="/dev/ttyAMA2"/> <!--雷达连接的串口--><!--/dev/ttyUSB0-->
    <param name="frame_id" value="laser_link"/> <!--激光坐标-->
    <param name="baud_rate" value="230400" /> <!--雷达连接的串口波特率-->
    <param name="min_distance" value="0.0"/> <!--最小扫描距离-->
    <param name="max_distance" value="30.0"/> <!--最大扫描距离-->

    <!-- 镭神雷达参数 -->
    <param name="/truncated_mode" value="0"/>    <!--0:不使用过滤 1:使用过滤-->
    <rosparam param="disable_min">[0,90,180,270]</rosparam> <!--需要过滤(屏蔽)的角度初始值，允许多角度过滤-->
    <rosparam param="disable_max">[45,135,225,315]</rosparam> <!--需要过滤(屏蔽)的角度结束值，允许多角度过滤-->
    <!-- 镭神雷达参数 -->
</node>


<node name="serialport_rplidar"   pkg="serialport"  type="serialport_rplidar" output="screen">
<param name="serial_port"         type="string" value="/dev/ttyAMA3"/><!--ROS通讯串口-->
<param name="serial_baudrate"     type="int"    value="460800"/> <!--波特率460800-->
<param name="lidar_enable_ctrl"   type="bool"   value="false"/><!--是否使能雷达使能控制-->
<param name="min_dis_m_limit"     type="double"   value="0.1"/><!--距离临界最小剔除值-->
<param name="max_dis_m_limit"     type="double"   value="11.9"/><!--距离临界最大剔除值-->
</node>

</launch> 
